.stat {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.125rem;

  color: #787c90;
  font-size: .65rem;
  border-radius: 2px;
  border: 1px solid #eef8fd;

  flex: 1;
}
.stat__word p:last-child {
  color: #262626;
  font-size: 1.125rem;
}
.stat > img {
  margin-left: 1.125rem;
}
