.side-menu {
  color: #647787;
  font-size: 0.6875rem;
  font-weight: normal;
  max-width: 260px;
}
.side-menu > ul > li {
  margin-top: 2rem;
}
.side-menu > button {
  font-size: .75rem;
  font-weight: bold;
  padding: .5rem 9.23%;
  border-radius: 1.875rem;
  margin-left: 12.31%;
  margin-top: 2rem;
  border: none;
  background-color: #27ae60;
  color: white;
}
